# Пример для заполнения .env-файла

# postgres
POSTGRES_DB=DB                           # название db
POSTGRES_USER=USER                       # имя пользователя для db
POSTGRES_PASSWORD=PASSWORD               # пароль пользователя для db
DB_HOST=db                               # если поменять, то тогда нужно поменять название сервиса в docker-compose.production.yml
DB_PORT=5432                             # это порт для доступа к db

# django
SECRET_KEY=SECRET_KEY                    # SECRET_KEY в настройках django
DEBUG=False                              # режим debug (True или False)
ALLOWED_HOSTS=127.0.0.1 backend          # ваши адреса через пробел (пример:localhost 127.0.0.1 xxxx.com)

# certbot                                # если вы не планируете его использовать, то эти переменные можно не указывать
GET_CERTS=False                          # True для получения сертификатов (обязательно укажите email в CERTBOT_EMAIL
CERTBOT_EMAIL=example@example.com        # Email для регистрации certbot
DOMAIN=exemple.com                       # Домен на котором вы разворачиваете
